.root-wrapper {
  width: 100%;
  border: 1px solid blue;
}

.root-history {
  @include calc(width, #{"100% - 20px"});
  border: 1px solid purple;
  margin: 0 auto;

}

.root-results {
  @include calc(width, #{"100% - 20px"});
  border: 1px solid pink;
  margin: 0 auto;

}

.root-search {
  @include calc(width, #{"100% - 20px"});
  border: 1px solid turquoise;
  margin: 0 auto;

}
