.root-wrapper {
  width: 100%;
}

%paddedWidth {
  @include calc(width, #{"100% - 20px"});
  margin: 0 auto;
}

.root-header {
  @extend %paddedWidth;
  text-align: center;
}

.root-history {
  @extend %paddedWidth;
}

.root-results {
  @extend %paddedWidth;

}

.root-search {
  @extend %paddedWidth;
}
