.root-wrapper {
  width: 100%;
  border: 1px solid blue;
}

.root-history {
  width: 100%;
  border: 1px solid purple;
}

.root-results {
  width: 100%;
  border: 1px solid pink;
}

.root-search {
  width: 100%;
  border: 1px solid turquoise;
}
