.selectListItem-button {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 5px;
    text-align:center;
    position:relative;
    display:inline-block;
    text-decoration:none;
    font-family: $theme-font;
    font-size: 20px;
    background-color: $theme-color;
    color: white;
    opacity: 1;
    @extend %search-transition;
}
