img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: pink;
  text-decoration: none;
}
