$theme-font: Helvetica;

h1 {
  font-family: $theme-font;
  font-size: 25px;
  color: $theme-color;
}

h2 {
  font-family: $theme-font;
  font-size: 25px;
  color: white;
}

h4 {
  font-family: $theme-font;
  font-size: 15px;
}
